
html, body, #app, #app>div {
    height: 100%;
}
html, body {
    overflow: auto;
}
html{
    min-height: 100vh;
    height: 100%;
    overflow: auto;
}
body{
    min-height: 100vh;
    height: 100%;
    overflow: auto;

}
.App{
    height: 100%;
}




.add_pin_modal{
    width:100%;
    min-height:100%;
    background-color: rgba(12, 11, 11, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    
    
    
}

.add_pin_container{
    
    max-width: 882px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    padding: 35px;
    display: flex;
    border:2px solid #EFEFEF;

}

.side{
    width: 50%;
    height: 100%;
    padding: 20px;

}

.pin_mock_icon_container{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    cursor: pointer;
}
.pin_mock_icon{
    width: 50%;
}

.section1{
    width: 100%;
    height: 8%;
}
.section2{
    
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
}
/*.section3{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}*/

#left_side .section1 .pin_mock_icon_container{
    width: 40px;
    height: 40px;
    background-color:rgba(239, 239, 239, 0);
    transition-duration: 0.3s;
}

#left_side .section1 .pin_mock_icon_container:hover{
    background-color:rgba(239, 239, 239, 1);
}


#upload_img_label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#upload_img{
    width:0px;
    height: 0px;
    opacity: 0;
}

.upload_img_container{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
    background-color: #EFEFEF;
}
.dotted_border{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #EFEFEF;
    border: 2px dashed #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#left_side .section2 .pin_mock_icon_container{
    background-color: #767676;
}



#right_side .section1{
    display: flex;
    justify-content: flex-end;
}
#right_side .section1 .select_size{
    width: 236px;
    height: 40px;
    display: flex;

}
#right_side .section1 .select_size select{
    width: 70%;
    height: 100%;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    background-color: #EFEFEF;
    font-size: 1rem;
}

#right_side .section1 .select_size .save_pin{
    width: 30%;
    height: 100%;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #e60023;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

}

/*#right_side .section2 .new_pin_input{
    width: 100%;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-bottom:2px solid #c6c6c6;
    background-color: transparent;
    font-size: 16px;
    outline: none;
}*/

.pin_title{
    font-size: 3vw;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom:2px solid #c6c6c6;
    outline: none;
}


.pin_description{
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom:2px solid #c6c6c6;
    margin-top: 1vw;
    outline: none;
    color:#7e7b7b;
}

.pin_destination{
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom:2px solid #c6c6c6;
    margin-top: 15vw;
    outline: none;
    color:#7e7b7b;
    

}
.alt_text{
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom:2px solid #c6c6c6;
    outline: none;
    color:#7e7b7b;
    display: none;
}
.alt_text_display{
    display: block;
}
.pin_title_on_focus{
    border-bottom:2px solid rgb(72, 72, 247);
    

}

#recommend{
    position: absolute;
    bottom: 10px;
    font-size: 1vw;
    color:#7e7b7b;
}

#alt-text-btn{
    padding: 1vw 1vw;
    background-color: #EFEFEF;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    align-self: flex-start;
}

#alt-text-btn:hover{
    background-color: #d8d7d7;

}
.alt_text_btn_disappears{
    display: none;
}

.modals_pin{
    max-width:30vw;
    max-height: 512px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: none;
}

.pin_image{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin_image img{
    opacity: 0;
    object-fit: contain;
    max-width: -moz-available;
}

.pin_max_width{
    max-width: 100%;
}
.pin_max_height{
    max-height: 100%;
}

.more_options_btn{
    width:225px;
    height: 85px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    /*justify-content: center;
    align-items: center;*/
    position: absolute;
    top: 77px;
    left: 21px;
    box-shadow: 5px 10px #888888;
    overflow: hidden;
    display:none ;
}
.more_options_btn:hover{
    border-color: 2px solid skyblue;
}
.more_options_btn_display{
    display: inline-flex;
}

.m_delete{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}
.m_delete:hover{
    background-color: #EFEFEF;

}
.m_duplicate{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}
.m_duplicate:hover{
    background-color: #EFEFEF;

}

.text_upload{
    font-size: 1vw;
}

.select_board_window {
    width: 322px;
    height: 441px;
    background-color: #ffff;
    position: absolute;
    top: 100px;
    border-radius: 30px;
    border: 1px ;
    border: 1px solid #EFEFEF;
    position: absolute;
    left: 273px;
    top: 32px;
}


#board_search{
    border-radius: 30px;
    height: 45px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
    outline: none;
    /*border: 1px solid #b6b6b6;*/
    color: #b6b6b6;
}
.board_search_bar_outline{
    border: 3px solid skyblue;
}
.fa-search{
    position: absolute;
    top: 27px;
    left: 5px;
    width: 1vw;
    height: 1vw;
    font-size: 1rem;
    font-size: 1rem;
    color: #b6b6b6;
}

.search_old_boards{
    height: 75%;
}

.create_board_tab{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #b6b6b6;
    border-radius: 30px 0px 0px 30px;
}
.create_board_tab:hover{
    background-color: #c4bfbf;
    cursor: pointer;
}
.plus{
    font-size: 1.8rem;
    color: #e60023;
}

.cb{
    font-size: 1.3rem;
    text-align: center;
}






