.css-15l0i3k-MuiPaper-root-MuiMobileStepper-root{
    margin:auto !important;
}
.css-26w9jf-MuiMobileStepper-dot{
    width: 10px !important;
    height: 10px !important;
    margin: 0 15px !important;
    background-color: black !important;
}
.css-114p2tk-MuiMobileStepper-dot,
.css-114p2tk-MuiMobileStepper-dot,
.css-114p2tk-MuiMobileStepper-dot {
    width: 6px !important;
    height: 6px !important;
    margin: 2px 15px !important;

}
.css-1384nzf-MuiMobileStepper-dots{
    margin: auto !important;
}